.button {

    border: none;
    width: 230px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 10px;
    cursor: pointer;
    border-radius: 10px;
    transition-duration: 0.4s;
    background-color: #4CAF50; /* Зеленый цвет, при нажатии */
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.4), 8px 0 16px rgba(0, 0, 0, 0.4); /* Увеличенные тени при нажатии */

}

.button:hover {
    background-color: #45a049; /* Зеленый цвет, при наведении курсора */
}

.button:active {
    background-color: #4CAF50; /* Зеленый цвет */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 4px 0 8px rgba(0, 0, 0, 0.2); /* Тени снизу и справа */

}
